<% breadcrumb :schedules_new %>

<div class="container">
  <h1>新規予定</h1>
  <%= form_with model: @schedule, local: true do |form| %>
    <%= render partial: "schedule_error_messages" %>
    <form class="contents">
      <%= render partial: "schedule_form", locals: { form:form } %>
      <div class="col-12">
        <%= form.submit "予定を登録する", class: "btn btn-primary" %>
      </div>
    </form>
  <% end %>
</div>